*{vertical-align:text-top}
body{font-size:12px;font-family:BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";letter-spacing:1px;text-decoration:none;border-style:none;margin:0;padding:0;white-space:normal;background-color:#f6f8fa;color:#24292e}
big{font-size:20px}
.hostedBy,.logoImg{float:left}
.logoImg{padding-right:12px}
a:active,a:hover{outline-width:0}
a:link,a:visited{color:#0366d6;text-decoration:none}
a:hover{text-decoration:underline;color:#f64}
a:active,a:focus{color:#cb2431}
table,.gen,.logo,.txtGn,.txtOe,.txtRd,a{font-weight:700}
.ci,.co,.gen{margin:auto}
.ci,.co{width:98%}
.ci{text-align:left;padding:12px}
.co,body{text-align:center}
.co{padding:12}
.content,.logo{text-align:left}
.gen{text-align:right;letter-spacing:0}
.gen,.logo,.tb,.h1l2{white-space:nowrap}
.content,.gen,.logo{width:98%;background-color:#fff;border:1px #e1e4e8 solid;border-radius:6px;padding:12px}
.logo{height:64px}
.txtGn{color:#22863a}
.txtOe{color:#a04100}
.txtRd{color:#cb2431}
p{margin-top:0;margin-bottom:10px}
.tb{writing-mode:vertical-lr;vertical-align:bottom}
.h1{border-style:solid solid none none}
.h1l2{border-style:solid dotted none solid}
.h1,.h1l2{margin:0;padding:4px;border-width:1px;border-color:#999;background-color:#eee}
.v{overflow:scroll visible}
