.ci,hr{border-width:1px}
body{font-size:12px;font-family:'Open Sans',sans-serif,'Lucida Grande',Tahoma,Verdana,Arial,MingLiU;letter-spacing:1px;text-decoration:none;border-style:none;margin:0;padding:0;white-space:normal;background-color:#ccc;color:#033}
a,table{font-weight:700}
hr{border-style:solid none none;margin:5px 2px 0;padding:2px;color:#900}
a:link,a:visited{color:#238}
a:hover{color:#46f}
.xr,a:active,a:focus{color:red}
.ci,.co{margin:auto;width:98%}
.ci{background-color:#fff;border-style:solid;border-color:#aaa;text-align:left;padding:12px}
.center,.co,body,td{text-align:center}
.co{padding:12}
.h1{border-style:solid solid none none}
.h1l2{border-style:solid dotted none solid;white-space:nowrap}
.h1,.h1l2{margin:0;padding:4px;border-width:1px;border-color:#999;background-color:#eee}
td{margin:auto;padding:auto}
.tb{writing-mode:tb;text-orientation:upright;white-space:nowrap}
.xg{color:green}
.xb{color:#00f}
